.css-1v0mbdj{
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
}

.css-18e3th9{
  padding: 30px;
}

.css-18e3th9{
  margin-top: 20px;
  background-color: #D6D9EA;
}

.css-1v0mbdj{
  padding: 1px;
  background-color: #ECECEC;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.04);
}